$hover-timing: 0.25s;
$window-border-radius: 4px;

// color vars
$text-color-primary: #1c3636;

$background-color-primary: #f8f6f6;
$background-color-secondary: #e1e5ea;
$background-color-secondary-hover: #d1d7e0;
$background-color-tertiary: #a7bbc7;
$background-color-tertiary-hover: #93a5b0;

$accent-color-primary: #da7f8f;
