.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 0.75em;
    cursor: pointer;
    color: white;

    &.editing {
        input {
            background-color: transparent;
            color: white;
        }
    }

    &:not(.editing) {
        width: 100%;
        background-color: transparent;
        transition: background-color 0.2s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.362);
        }
    }
}
