.entryWrapper {
    &.folder {
        .icon {
            transform: rotate(0deg);
            transition: transform 0.25s;
            &.rotate {
                transform: rotate(90deg);
            }
        }
    }

    &.file {
    }
}

.nestedContent {
    margin-left: 1rem;
    display: flex;
    flex-flow: column nowrap;

    &.hidden {
        display: none;
    }
}
