@use "base";

.main {
    width: auto;
    height: 100vh;
    background-color: #000000;

    display: flex;
    flex-flow: row nowrap;
    .dragWrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        overflow-x: scroll;
        .topRow {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0.5em;

            .menu {
                padding: 0.1em 0.5em;
                border-radius: 4px;
                background-color: transparent;
                transition: background-color base.$hover-timing;
                color: white;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    cursor: pointer;
                }
            }
        }

        .uploadWrapper {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            .fileInput {
                display: none;
            }
            .uploadFile {
                width: 95px;
                margin: 8px;
                color: white;
                font-size: 0.75rem;
                border: none;
                outline: none;
                padding: 0.75em;
                border-radius: 5px;
                cursor: pointer;
                background-color: rgb(0, 88, 170);
                transition: background-color base.$hover-timing;
                &:hover {
                    background-color: rgb(17, 123, 222);
                }
            }
        }
    }
    .dragHandle {
        height: 100%;
        background-color: #fb2576;
        cursor: ew-resize;
    }
}
