@use "base";
.main {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: base.$window-border-radius;

    $header-height: 1.35rem;
    .header {
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        user-select: none;
        height: $header-height;

        font-size: 0.75rem;
        padding: 0.2em 0.5em;
        background-color: #d9d9d9;

        .closeButton {
            background-color: transparent;
            transition: background-color base.$hover-timing;
            padding: 0.2em 0.4em;
            border-radius: 5px;
        }
    }

    .editorWrapper {
        height: calc(100% - $header-height);
        border-radius: base.$window-border-radius;
    }

    &.active {
        box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.25);
        .header {
            cursor: move;
            .closeButton {
                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    cursor: pointer;
                }
            }
        }
    }
}
